.historyTable{
    width: 100%;
    padding: 20px;
    
}

.tRow{
    padding: 20px;
    border: 1px solid lightslategray;
}

.saving{
	float: right;
	font-weight: normal;
	font-size: 16px;
}

.historyCard{
	overflow: auto;
	max-height:400px;
}

.monthText{
	text-align:left;
}

.mainCard{
	margin-top: 4vh;
}

.spinner{
	margin-left:44%;
	margin-top:5vh
}

.backBtn{
	text-align: left
}