<md-toolbar class="toolbar">
  <span><img class="logoImg" src="../../images/wallet2.png" alt=""></span>
  <span style="font-family:cursive;">My Budget</span>
</md-toolbar>

<div layout="row" layout-padding layout-margin layout-fill style="min-height: 224px; margin-top: 20vh;">
  <md-card flex>
    <md-card-header>
        <md-card-title>Manage your monthly budget easily</md-card-title>
    </md-card-header>
    <md-card-content>
          <md-input class="username-input" type="text" name="username" #username (keyup.enter)="getStarted(username.value)" placeholder="Enter your name">
          </md-input>
          <button md-raised-button color="warn" *ngIf="username.value !== ''" (click)="getStarted(username.value)">Get Started</button>
    </md-card-content>
  </md-card>
  
</div>

