 /*You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #FFF9C4;
    margin: 0 auto;
    text-align: center;
    height:auto;
    font-family: Roboto, sans-serif;
}

.loadingText{
    margin-top:20vh;
    color:black;
    font-weight:bold;
}

.main{
    padding: 10px;
}

.toolbar{
    background-color:#FFCB2E;
    color:white;
}

.btns{
    background: #FFFF00;
}

.logoImg{
    width:30px;
    margin-right:10px;
}

.err{
    color: red;
    margin: 3px;
}